@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    ViewBag.Title = "Tutoring List";
}

<h2>Graduation Party Tutoring Services</h2>
<p>
    <strong>Welcome to GP Tutoring!</strong>
    <div>Are you a student looking for a tutor's help or a tutor looking to help students?</div>
</p>